eudistack-issuer:

  global:
    domain: "issuer.red.eudistack.net"
    ingress:
      enabled: true
      className: "nginx"
      labels: { }
      annotations:
        nginx.ingress.kubernetes.io/ssl-redirect: "false"
        nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
      enableTLS: true
      clusterIssuer: "letsencrypt-in2-test-issuer"

  eudistack-issuer-core-backend:
    image:
      repository: in2workspace/eudistack-issuer-core-backend
      # Overrides the image tag whose default is the chart appVersion.
      tag: v2.2.19-pr-9-core
      pullPolicy: Always
    ingressIssuerApi:
      enabled: true
      className: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-in2-test-issuer
        nginx.ingress.kubernetes.io/rewrite-target: /vci/v1/issuances
      hosts:
        - host: issuer.red.eudistack.net
          paths:
            - path: /issuer-api/vci/v1/issuances
              pathType: ImplementationSpecific
      tls:
        - hosts:
            - issuer.red.eudistack.net
          secretName: issuer-tls-secret
    app:
      logLevel:
        app: DEBUG
        security: INFO
      url: "https://issuer.red.eudistack.net"
      issuerFrontendUrl: "https://issuer.red.eudistack.net"
      knowledgeBase:
        walletGuideUrl: "https://knowledgebase.dome-marketplace-dev2.org/shelves/company-onboarding-process"
        uploadCertificationGuideUrl: "https://knowledgebase.dome-marketplace-dev2.org"
      trustFrameworkUrl: "http://trusted-issuers-list:8080"
      verifierUrl: "https://verifier.red.eudistack.net"
      walletUrl: "https://wallet.red.eudistack.net"
      defaultLang: "es"
      adminOrganizationId: "VATES-A15456585"
      sysTenant: "DOME"
      mail:
        host: smtp.ionos.de
        port: 587
        existingSecret:
          enabled: true
          name: issuer-secret
          userKey: username
          passwordKey: password
        properties:
          mail:
            smtp:
              auth: true
              starttls:
                enable: true
              ssl:
                trust: smtp.ionos.de
      remoteSignature:
        existingSecret:
          enabled: true
          name: issuer-secret
          clientId: client-id
          clientSecret: client-secret
          credentialId: credential-id
          credentialPassword: credential-password
        type: cloud
        url: https://dts-component-rdss-csc.ace-api.digitelts.com
      authServer:
        provider: keycloak
        externalUrl: https://keycloak.red.eudistack.net
        internalUrl: http://keycloak:80
        realm: red-issuer
        client:
          clientId: issuer-api-client
          username: issuer-api-user
          existingSecret:
            enabled: true
            name: issuer-secret
            clientSecretKey: authServerClientSecret
            clientPasswordKey: issuer-api-user-password
      defaultSigner:
        existingSecret:
          enabled: true
          name: issuer-secret
          commonName: common-name
          country: country
          email: email
          organizationIdentifier: organization-identifier
          organization: organization
          serialNumber: serial-number
      issuerIdentity:
        existingSecret:
          enabled: true
          name: issuer-secret
          vc: vc
          privateKey: private-key
          credentialDidKey: did-key
      cors:
        default:
          allowedOrigins: "http://localhost:4200, https://issuer.red.eudistack.net, http://localhost:63342"
        external:
          allowedOrigins: "http://localhost:4200, https://issuer.red.eudistack.net, http://localhost:63342"
      vault:
        secretsMount: kv
      verifier:
        url: "https://verifier.red.eudistack.net"
      db:
        externalService: false
        host: issuer-postgres
        schema: issuer
        port: 5432
        name: issuer
        username: postgres
        password: postgres
        ssl:
          mode: prefer
        existingSecret:
          enabled: false
          name: issuer-secret
          key: db-password

  eudistack-issuer-enterprise-backend:
    image:
      repository: 147108726325.dkr.ecr.eu-west-1.amazonaws.com/eudistack-stg-ecr-ew1-issuer
      # Overrides the image tag whose default is the chart appVersion.
      tag: v0.1.0-pr-7-enterprise
      pullPolicy: Always
    imagePullSecrets:
      - name: eudistack-stg-ecr-secret
    app:
      profile: dev

  eudistack-issuer-frontend:
    image:
      repository: in2workspace/eudistack-issuer-ui
      # Overrides the image tag whose default is the chart appVersion.
      tag: v2.1.13
      pullPolicy: Always
    app:
      themeName: "dome-theme"
      assets:
        baseUrl: "https://cdn.jsdelivr.net/gh/in2workspace/eudistack-assets@main/Altia"
        logoPath: "altia-logo.svg"
        faviconPath: "altia-favicon.ico"
      keycloakUrl: "https://keycloak.red.eudistack.net/realms/red-issuer"
      backendUrl: "https://issuer.red.eudistack.net"
      walletUrl: "https://wallet.dome-marketplace.eu"
      walletUrlTest: "https://wallet.red.eudistack.net"
      showWalletUrlTest: "true"
      knowledgeBaseUrl: "https://knowledgebase.dome-marketplace-dev2.org"
      defaultLang: "es"
      adminOrganizationId: "VATES-A15456585"
      sysTenant: "DOME"

  eudistack-issuer-postgresql:
    # -- should the postgresql deployment be enabled
    enabled: true