trusted-issuers-list:
  # Image
  deployment:
    image:  
      tag: 0.4.0

  fullnameOverride: trusted-issuers-list

  # Configure an Ingress or OpenShift Route
  ingress:
    til:
      enabled: false
    tir:
      enabled: false
  route:
    til:
      enabled: false
    tir:
      enabled: false
      
  # Database config
  database:
    persistence: true
    host: tir-postgres-postgresql
    port: 5432
    name: til

    username: tiruser
    password: tirpassword

    dialect: postgres

    existingSecret:
      enabled: false