# Example: How to use the ECR secret in your deployments

apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      # Reference the ECR secret here
      imagePullSecrets:
      - name: eudistack-stg-ecr-secret
      containers:
      - name: idp
        image: 147108726325.dkr.ecr.eu-west-1.amazonaws.com/eudistack-stg-ecr-ew1-idp:latest
        ports:
        - containerPort: 8080
