dome-issuer:

  global:
    domain: "issuer-dev.in2.ssihub.org"
    ingress:
      enabled: true
      className: "nginx"
      labels: {}
      annotations:
        nginx.ingress.kubernetes.io/ssl-redirect: "false"
        nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
      enableTLS: true
      clusterIssuer: "letsencrypt-in2-test-issuer"

  dome-issuer-backend:
    image:
      repository: in2workspace/eudistack-issuer-api
      # Overrides the image tag whose default is the chart appVersion.
      tag: v2.2.7-pr-194
      pullPolicy: Always
    ingressIssuerApi:
      enabled: true
      className: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-in2-test-issuer
        nginx.ingress.kubernetes.io/rewrite-target: /vci/v1/issuances
      hosts:
        - host: issuer-dev.in2.ssihub.org
          paths:
            - path: /issuer-api/vci/v1/issuances
              pathType: ImplementationSpecific
      tls:
        - hosts:
            - issuer-dev.in2.ssihub.org
          secretName: issuer-tls-secret
    app:
      logLevel:
        app: DEBUG
        security: INFO
      url: "https://issuer-dev.in2.ssihub.org"
      issuerFrontendUrl: "https://issuer-dev.in2.ssihub.org"
      knowledgeBase:
        walletGuideUrl: "https://knowledgebase.dome-marketplace-dev2.org/shelves/company-onboarding-process"
        uploadCertificationGuideUrl: "https://knowledgebase.dome-marketplace-dev2.org"
      trustFrameworkUrl: "http://trusted-issuers-list:8080"
      verifierUrl: "https://verifier-dev.in2.ssihub.org"
      walletUrl: "https://wallet-dev.in2.ssihub.org"
      defaultLang: "es"
      adminOrganizationId: "VATES-B60645900"
      sysTenant: "DOME"
      mail:
        host: smtp.ionos.de
        port: 587
        existingSecret:
          enabled: true
          name: issuer-secret
          userKey: username
          passwordKey: password
        properties:
          mail:
            smtp:
              auth: true
              starttls:
                enable: true
              ssl:
                trust: smtp.ionos.de
      remoteSignature:
        existingSecret:
          enabled: true
          name: issuer-secret
          clientId: client-id
          clientSecret: client-secret
          credentialId: credential-id
          credentialPassword: credential-password
        type: cloud
        url: https://dts-component-rdss-csc.api.digitelts.com
      authServer:
        provider: keycloak
        externalUrl: https://keycloak-dev.ssihub.org
        internalUrl: http://keycloak.identity-security.svc.cluster.local:80
        realm: in2-issuer
        client:
          clientId: issuer-api-client
          username: issuer-api-user
          existingSecret:
            enabled: true
            name: issuer-secret
            clientSecretKey: authServerClientSecret
            clientPasswordKey: issuer-api-user-password
      defaultSigner:
        existingSecret:
          enabled: true
          name: issuer-secret
          commonName: common-name
          country: country
          email: email
          organizationIdentifier: organization-identifier
          organization: organization
          serialNumber: serial-number
      issuerIdentity:
        existingSecret:
          enabled: true
          name: issuer-secret
          vc: vc
          privateKey: private-key
          credentialDidKey: did-key
      cors:
        default:
          allowedOrigins: "http://localhost:4200, https://issuer-dev.in2.ssihub.org, http://localhost:63342"
        external:
          allowedOrigins: "http://localhost:4200, https://issuer-dev.in2.ssihub.org, http://localhost:63342"
      vault:
        secretsMount: kv
      verifier:
        url: "https://verifier-dev.in2.ssihub.org"
      db:
        externalService: false
        host: issuer-postgres
        schema: issuer
        port: 5432
        name: issuer
        username: postgres
        password: postgres
        ssl:
          mode: prefer
        existingSecret:
          enabled: false
          name: issuer-secret
          key: db-password

  dome-issuer-frontend:
    image:
      repository: in2workspace/eudistack-issuer-ui
      # Overrides the image tag whose default is the chart appVersion.
      tag: v2.1.9-pr-133
      pullPolicy: Always
    app:
      colors:
        primary: "#B88EFF"
        primaryContrast: "#000000"
        secondary: "#76F276"
        secondaryContrast: "#444444"
      assets:
        baseUrl: "https://cdn.jsdelivr.net/gh/in2workspace/eudistack-assets@main/Altia"
        logoPath: "altia-logo.svg"
        faviconPath: "altia-favicon.ico"
      keycloakUrl: "https://keycloak-dev.ssihub.org/realms/in2-issuer"
      backendUrl: "https://issuer-dev.in2.ssihub.org"
      walletUrl: "https://wallet.dome-marketplace.eu"
      walletUrlTest: "https://wallet-dev.in2.ssihub.org"
      showWalletUrlTest: "true"
      knowledgeBaseUrl: "https://knowledgebase.dome-marketplace-dev2.org"
      defaultLang: "es"
      adminOrganizationId: "VATES-B60645900"
      sysTenant: "DOME"

  dome-issuer-keycloak:
    enabled: false

  dome-issuer-postgresql:
    # -- should the postgresql deployment be enabled
    enabled: true

  dome-issuer-keycloak-postgresql:
    # -- should the postgresql deployment be enabled
    enabled: false