keycloak:
  image:
    repository: in2workspace/in2-dome-keycloak
    pullPolicy: Always
    # Overrides the image tag whose default is the chart appVersion.
    tag: v1.1.1

  fullnameOverride: keycloak
  nameOverride: keycloak

  ingress:
    enabled: true
    className: nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-in2-test-issuer
    hosts:
      - host: keycloak.blue.eudistack.net
        paths:
          - path: /
            pathType: Prefix
    tls:
      - hosts:
          - keycloak.blue.eudistack.net
        secretName: keycloak-tls-sec

  keycloak:
    admin:
      existingSecret:
        enabled: true
        name: keycloak-secret
        passwordKey: admin-password
    hostname:
      url:
        # if deployed locally set to false
        externalService: true
        scheme: https
        # change by the external url or set to localhost if deployed locally
        host: keycloak.blue.eudistack.net
        # internalPort is only used if externalService is false
        internalPort: 30002
        path: /
      adminUrl:
        # if deployed locally set to false
        externalService: true
        scheme: https
        # change by the external url or set to localhost if deployed locally
        host: keycloak.blue.eudistack.net
        # internalPort is only used if externalService is false
        internalPort: 30002
        path: /

  db:
    existingSecret:
      enabled: true
      name: keycloak-secret
      passwordKey: db-password

  postgresKeycloak:
    auth:
      existingSecret: keycloak-secret
      secretKeys:
        adminPasswordKey: db-password
        userPasswordKey: db-password