access-node:
  ## configuration for the desmos - see https://DOME-Marketplace.github.io/access-node for configuration documentation
  desmos:
    app:
      ## information about the access-node operator
      operator:
        # -- did of the organization running the node
        organizationIdentifier: did:key:zDnaeVXPuangcFS5danmBy2t1nebjoiVembkkVzHxKENu1SQc
      # -- operator external domain
      externalDomain:
        protocol: "http"
        domain: "desmos.dome-marketplace-lcl.org"
      externalAccessNodesUrls:
        enableCustomUrls: true
        customUrls: ""
      # -- configuration to set your private key
      privateKey:
        existingSecret:
          # -- should an existing secret be used
          enabled: true
          # -- name of the secret
          name: access-node-secret
          # -- key to retrieve the password from
          key: desmos-private-key
      learCredentialMachineInBase64:
        existingSecret:
          enabled: true
          name: access-node-secret
          key: lear-credential-machine

    ## configuration of the database to be used by the blockchain-connector
    db:
      # -- existing secret to retrieve the db password
      existingSecret:
        # -- should an existing secret be used
        enabled: true
        # -- name of the secret
        name: access-node-secret
        # -- key to retrieve the password from
        key: desmos-db-password

  ## configuration for the dlt-adapter - see https://DOME-Marketplace.github.io/access-node/dlt-adapter for configuration documentation
  dlt-adapter:
    existingSecret:
      enabled: true
      name: access-node-secret
      key: dlt-private-key
    env:
      ISS: "0x2ccafddafb09ee283a7113e9a292882d1a7a55622918de373cf6f426985b8673"

  ## configuration of postgres to be used for the blockchain-connector - see https://github.com/bitnami/charts/tree/main/bitnami/postgresql for details
  postgresql:
    ## auth configuration for the database
    auth:
      # -- existing secret
      existingSecret: access-node-secret
      secretKeys:
        adminPasswordKey: desmos-db-password
        userPasswordKey: desmos-db-password

  ## configuration of the context-broker - see https://github.com/FIWARE/helm-charts/tree/main/charts/scorpio-broker-aaio for details
  scorpio:
    ## configuration of the database to be used by broker
    db:
      # -- existing secret to retrieve the db password
      existingSecret:
        # -- should an existing secret be used
        enabled: true
        # -- name of the secret
        name: access-node-secret
        # -- key to retrieve the password from
        key: scorpio-db-password

  ## configuration of postgis to be used for scorpio - see https://github.com/bitnami/charts/tree/main/bitnami/postgresql for details
  postgis:
    ## auth configuration for the database
    auth:
      # -- existing secret
      existingSecret: access-node-secret
      secretKeys:
        adminPasswordKey: scorpio-db-password
        userPasswordKey: scorpio-db-password

  ## configuration of the tm-forum-api - see https://github.com/FIWARE/helm-charts/tree/main/charts/tm-forum-api for details
  tm-forum-api:
    fullnameOverride: tm-forum-api
    nameOverride: tm-forum-api
    apis:
      - name: party-catalog
        image: tmforum-party-catalog
        basePath: /

      - name: customer-bill-management
        image: tmforum-customer-bill-management
        basePath: /

      - name: customer-management
        image: tmforum-customer-management
        basePath: /

      - name: product-catalog
        image: tmforum-product-catalog
        basePath: /

      - name: product-inventory
        image: tmforum-product-inventory
        basePath: /

      - name: product-ordering-management
        image: tmforum-product-ordering-management
        basePath: /

      - name: resource-catalog
        image: tmforum-resource-catalog
        basePath: /

      - name: resource-function-activation
        image: tmforum-resource-function-activation
        basePath: /

      - name: resource-inventory
        image: tmforum-resource-inventory
        basePath: /

      - name: service-catalog
        image: tmforum-service-catalog
        basePath: /

      - name: account
        image: tmforum-account
        basePath: /

      - name: agreement
        image: tmforum-agreement
        basePath: /

      - name: usage-management
        image: tmforum-usage-management
        basePath: /